body {
  color: white;
  font-size: 16px;
  background-color: #2c2d30;
  margin: 0;
  font-family: Inter, Roboto, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, Roboto, Arial;
}
